@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
body { 
  padding:0px;
  margin:0px;
}

.boxTitle{
	position: absolute;
	top:100px;
	Left:100px;
	font-size:18pt;
}

.main-content{
  min-height:500px;
}

.sub-content{
  position: sticky;
  align-content: center;
  width:100%;
  z-index: 110;
}

.menu-header{
  width: 100%;
  background-image: url("../images/menu_bg.png");
  background-repeat: repeat-x;
  min-height:55px;
  margin-top: -1px;
}

.menu-header-travel{
  width: 100%;
  background-image: url("../images/menu_travel_bg.png");
  background-repeat: repeat-x;
  min-height:100px;
  margin-top: -1px;
}

.menu-center{
  margin:0 auto;
  width:80%;
  background-color: white;;
}

.menu-item{
  float: left;
  margin:0 auto;
  font-size:26pt;
  font-family: 'Raleway', sans-serif; 
  padding-top: 10px;
}

.menu-item a{
  color: black; /* blue colors for links too */
  text-decoration: none; /* no underline */
  font-size:26pt;
  font-family: 'Raleway'; 
}

.menu-sub-item{
  float: left;
  margin:0 auto;
  font-size:18pt;
  font-family: 'Raleway', sans-serif; 
  padding-top: 10px;
  background-color: white;;
}

.menu-sub-item a{
  color: black; /* blue colors for links too */
  text-decoration: none; /* no underline */
  font-size:18pt;
  font-family: 'Raleway'; 
  background-color: white;
}

.menu-spacer{
  width:10%
}
.menu-sub-spacer{
  width:5%
}

.page-header{
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 22pt;
}

.page-sub-header{
  font-size: 18pt;
  font-weight: bold;
}

/*home Section 
*******************/

.img_title {
  position: absolute;
  bottom: 0px;
  right: 50px;
  cursor: hand;
}

.home_fg_couple {
  
  float: left;
  background-image: url("../images/home/fg_couple2.png");
  height:1055px;
  width:2400px;
  position: sticky;
  background-repeat: no-repeat;
  z-index:111;  
}

.home_fg_us {
  
  float: left;
  background-image: url("../images/home/fg_us.png");
  height:1055px;
  width:2400px;
  position: sticky;
  background-repeat: no-repeat;
  z-index:111;  
}

.home_fg_arc {
  
  float: left;
  background-image: url("../images/home/fg_arc.png");
  height:1055px;
  width:2400px;
  position: sticky;
  background-repeat: no-repeat;
  z-index:111;  
}

.home_fg_wheretostay {
  
  float: left;
  background-image: url("../images/home/fg_where.png");
  height:1055px;
  width:2400px;
  position: sticky;
  background-repeat: no-repeat;
  z-index:111;  
}

.home_bg_1 {
  
  float: left;
  background-image: url("../images/home/bg_1.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:109;
}

.home_bg_2 {
  
  float: left;
  background-image: url("../images/home/bg_2.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:108;
}

.home_bg_3 {
  
  float: left;
  background-image: url("../images/home/bg_3.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:107;
}

.home_bg_4 {
  
  float: left;
  background-image: url("../images/home/bg_4.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:106;
}

.home_bg_5 {
  
  float: left;
  background-image: url("../images/home/bg_5.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:105;
}

.home_bg_6 {
  
  float: left;
  background-image: url("../images/home/bg_6.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:104;
}

.home_bg_7 {
  
  float: left;
  background-image: url("../images/home/bg_7.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:103;
}

.home_bg_8 {
  
  float: left;
  background-image: url("../images/home/bg_8.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:102;
}

.home_bg_Sky {
  float: left;
  background-image: url("../images/home/bg_sky.png");
  background-repeat: no-repeat;
  height:1055px;
  width:2400px;
  position: absolute;
  z-index:101;

}


h1 {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: #F1C40F;
  padding: 0.5em 1em;
  box-sizing: border-box;
}


/*Schedule Section 
*******************/

.schedule-date{
  float:left;
  width:20%;
}

.schedule-info{
  float:left;
  width:80%;
}

.schedule-time{
  float:left;
  width:20%;
}


.schedule-item{
  float:left;
  width:80%;
}

.schedule-info-row{
  margin-bottom: 15px;
}